<p>Welcome!</p>

<p>Thanks for signing up to mileager.io!</p>

<p>You can confirm your account email through the link below:</p>

<p><a href="https://mileager.io/auth/sign-up/verify/<%= @token %>">Verify Account</a></p>
